
body {
    background-color: #f5f7f8;
    display: flex;
    flex-direction: column;
}
.header {
    height: 12vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top {
    text-align: center; 
    margin-top: 30px ;
    margin-bottom: 30px ;
}
.top h1 {
    margin-bottom: 20px;
}
.top p {
    margin-top: 20px; 
}
.top img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    width: 300px; 
}

.grid-container {
    display: flex;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    width: 100%; 
    height: 100%;
}

.calculator {
    background-color: white;
    flex: 1;
    padding: 20px; 
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    height:80vh;
    
}

.form {
    display: grid;
    
}
.form label {
    font-weight: bold;
}

.form input{
    margin-bottom: 20px;
}
.results,
.saved-results {
    background-color: white;
    flex: 3;
    padding: 20px; 
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    max-width: 80vw;
    margin-left:50px;
    display:grid;
}

#saved-results-list button{
    background-color: #f44336;
    text-align: center;
    color: white;
    margin-left: 20px;
    border: none;
}

.hide {
    display: none;
}

button {
    margin-bottom:5px;
}
#result-box > span{
    font-size: 100px;
    color:rgb(4, 4, 105);
}